<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Productos{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-light bg-light mb-3">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Gestión de Productos Estim</span>
            <div class="d-flex">
                <!-- Botón Crear Producto -->
                <a href="{% url 'crear_producto' %}" class="btn btn-primary me-2">Crear Producto</a>
                
                
                <!-- Botón Cerrar Sesión -->
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Cerrar sesión</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        <!-- Contenido dinámico aquí -->
        {% endblock %}
    </div>

    <footer class="text-center mt-4">
        <p>&copy; 2024 Gestión de Productos Estim - Todos los derechos reservados</p>
    </footer>
</body>
</html>




