{% extends 'juegos/base_estim.html' %}


{% block title %}
    ESTIM - Página principal
{% endblock %}

{% block content %}
    <div class="content">
        <main>
            <section aria-labelledby="categorias">
                <h1 id="bienvenido">¡Bienvenido!</h1>
                <h2 id="mensajedebienvenido">Elige una categoría de juegos, o puedes usar el buscador</h2>
                <div>
                    <form id="barrabuscar">
                        <input type="search" placeholder="Buscar">
                        <button id="btnbuscar">Buscar juegos</button>
                    </form>
                </div>
                <br>
                <ul class="listadecategoria">
                    <li><a href="{% url 'categoria_accion' %}" class="linkdecategoria">Acción</a></li>
                    <li><a href="{% url 'categoria_mundo_abierto' %}" class="linkdecategoria">Mundo Abierto</a></li>
                    <li><a href="{% url 'categoria_free_to_play' %}" class="linkdecategoria">Free to Play</a></li>
                    <li><a href="{% url 'categoria_supervivencia' %}" class="linkdecategoria">Supervivencia</a></li>
                    <li><a href="{% url 'categoria_carreras_y_deportes' %}" class="linkdecategoria">Carreras y Deportes</a></li>
                </ul>
            </section>
        </main>
    </div>
{% endblock %}




