<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ESTIM - Juegos Mundo Abierto</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'juegos/css/background.css' %}" />
  <link rel="stylesheet" href="{% static 'juegos/css/juegos.css' %}" />
</head>
<body>
  <div class="background">
    <div class="content">
      <main>
        <div>
          <a href="{% url 'index' %}">REGRESAR AL MENÚ</a>
        </div>
        <h1 id="categoria">Mundo Abierto</h1>
        <form id="barrabuscar">
          <label for="buscar" class="sr-only">Buscar</label>
          <input type="search" id="buscar" placeholder="Buscar" />
          <button id="btnbuscar">Buscar juegos</button>
        </form>
        <section>
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card" style="width: 18rem">
                  <img src="{% static 'juegos/imagenes/eldenring.jpg' %}" class="card-img-top" alt="Elden Ring - Imagen del juego"/>
                  <div class="card-body">
                    <h5 class="card-title">ELDEN RING</h5>
                    <p class="card-text">CLP$ 38.500</p>
                    <a href="{% url 'detalles_eldenring' %}" class="btn btn-primary">Ver Detalles</a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card" style="width: 18rem">
                  <img src="{% static 'juegos/imagenes/elderscrollv.jpg' %}" class="card-img-top" alt="The Elder Scroll V: Skyrim VR - Imagen del juego"/>
                  <div class="card-body">
                    <h5 class="card-title">THE ELDER SCROLL V: Skyrim VR</h5>
                    <p class="card-text">CLP$ 39.900</p>
                    <a href="{% url 'detalles_elderscroll' %}" class="btn btn-primary">Ver Detalles</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </div>
</body>
</html>
