{% extends 'juegos/base_catalogo.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Juegos Estim</h1>
    
    <div class="row">
        {% if productos %}
            {% for producto in productos %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <!-- Verifica si el producto tiene una imagen asociada -->
                    {% if producto.imagen %}
                    <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                    {% else %}
                    <img src="{% static 'default-image.jpg' %}" class="card-img-top" alt="{{ producto.nombre }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">CLP${{ producto.precio }}</p>

                        <!-- Lógica para mostrar detalles según el SKU -->
                        <a href="{% if producto.sku == '1' %}{% url 'detalles_cs2' %}
                                  {% elif producto.sku == '2' %}{% url 'detalles_gtav' %}
                                  {% elif producto.sku == '3' %}{% url 'detalles_eldenring' %}
                                  {% elif producto.sku == '4' %}{% url 'detalles_elderscroll' %}
                                  {% elif producto.sku == '5' %}{% url 'detalles_dota2' %}
                                  {% elif producto.sku == '6' %}{% url 'detalles_lostark' %}
                                  {% elif producto.sku == '7' %}{% url 'detalles_palworld' %}
                                  {% elif producto.sku == '8' %}{% url 'detalles_rocketleague' %}
                                  {% elif producto.sku == '9' %}{% url 'detalles_fc24' %}
                                  {% elif producto.sku == '10' %}{% url 'detalles_ark' %}
                                  {% endif %}" class="btn btn-primary">Ver Detalles</a>

                        <!-- Lógica para agregar al carrito si el usuario ha iniciado sesión -->
                        {% if user.is_authenticated %}
                            <a href="{% url 'agregar_al_carrito' producto.sku %}" class="btn btn-success mt-2">Agregar al carrito</a>
                        {% else %}
                            <p class="text-danger mt-2">Debes entrar a tu cuenta para poder comprar!.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No hay productos disponibles en este momento.</p>
        {% endif %}
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'index' %}" class="btn btn-primary">Regresar al Menú</a>
    </div>
</div>
{% endblock %}







