
#categorias {
    text-align: center; /* Centrar el título */
    color: #ffffff; /* Letras color blanco*/
}
/* Contenedor del buscador */
#barrabuscar {
    display: flex;
    justify-content: center; /* Centrar el contenedor */
    align-items: center; /* Alinear verticalmente */
}

/*LISTA DE CATEGORÍAS*/
ul {
    list-style-type: none; /* Eliminar los asteriscos */
    text-align: center; /* Centrar la lista */
}

/*ENLACES*/
a {
    color: lightskyblue; /* Enlaces con color */
    font-weight: bolder; 
    text-decoration: none; /* Quitar el subrayado */
    display: block; /* Hacer que el enlace ocupe todo el botón */
    padding: 10px; /* Espaciado interno */
    background-color:rgba(0, 128, 128, 0.25); /* Fondo oscuro para cada categoría, le puse transparencia */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 10px; /* Espacio entre los botones */
    width: 300px; /* Ajustar el ancho del bloque */
    margin-left: auto; /* Centrar horizontalmente */
    margin-right: auto; /* Centrar horizontalmente */
    text-align: center/*Centrar el texto al medio;*/
}
/* EFECTO AL PASAR EL MOUSE ENCIMA DEL ENLACE*/
a:hover {
    background-color: teal; /* Cambiar el fondo al pasar el ratón */
    color:whitesmoke;}