body {
    background-image: url("../imagenes/blue_body_top.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    min-height: 100vh !important;
    width: 100vw !important;
    overflow: hidden !important;
}

