#titulo {
    height: 3vh;
    text-align: center;
    color: #ffffff;
}

#logoweb {
    height: 22vh;
}

#navheader {
    height: 5vh;
    color: #ffffff;
    
}

header {
    background-color: hsla(0, 0%, 0%, 0.2);
    text-align: center;
    nav ul li{padding:5px; /*PARA QUE SE VEA EN LÍNEA*/
            display:inline;}
}

#logoweb {
    max-height: 80%;
    width: 30%;
}

#bienvenido,
#mensajedebienvenido {
    text-align: center;
    color: #ffffff;
}

#barrabuscar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para la lista de categorías */
.listadecategoria {
    list-style-type: none;
    text-align: center;
}

/* Estilos para los enlaces de categorías */
.linkdecategoria {
    color: lightskyblue;
    font-weight: bolder;
    text-decoration: none !important;
    display: block;
    padding: 10px;
    background-color: rgba(0, 128, 128, 0.25);
    border-radius: 5px;
    margin-bottom: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.linkdecategoria:hover {
    background-color: rgb(40, 160, 250);
    color: whitesmoke;
}

/* Estilos específicos para el enlace de Registrar cuenta */
.linkregistro,
.linkcatalogo {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.linkregistro:hover,
.linkcatalogo:hover {
    color: lightblue;
}


