/* Hacer que el fondo cubra toda la página, no solo hasta el formulario */
html, body {
    height: 100%;
    margin: 0;
}

.background {
    background: linear-gradient(135deg, #0f1e2e 0%, #09203f 100%);
    min-height: 100%; /* Asegura que el fondo cubra al menos toda la altura de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Espacio para evitar que el contenido quede pegado a los bordes */
    box-sizing: border-box; /* Incluye el padding dentro de la altura y anchura */
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    max-width: 800px; /* Ajusta el ancho máximo del contenedor */
    width: 100%;
    box-sizing: border-box; /* Incluye padding en el ancho */
}

h2 {
    color: #1E90FF;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
}

.form-group label {
    font-weight: bolder;
    color: #1E90FF;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #1a1a1a;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box; /* Incluye padding en el ancho */
}

.form-control:focus {
    border-color: #FFD700;
    box-shadow: 0 0 5px #FFD700;
}

.btn-primary, .btn-secondary {
    width: 48%;
    padding: 10px;
    font-weight: bolder;
    border: none;
}

.btn-primary {
    background-color: #1E90FF;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-primary:hover, .btn-secondary:hover {
    opacity: 0.8;
}

.text-danger {
    color: #ff4747;
    font-size: 14px;
    margin-top: 10px;
}

#mensajeError, #MensajeError {
    text-align: center;
    margin-top: 15px;
    font-weight: bolder;
}

/* Para asegurar que los botones se alineen horizontalmente si es necesario */
li {
    display: inline-block;
}

.background > div:first-child a { /*EFECTOS BOTON REGRESAR*/
    position: absolute;
    top: 20px;
    left: 20px;
    color: lightskyblue;
    font-weight: bolder;
    text-decoration: none;
    background-color: rgba(0, 128, 128, 0.25);
    border-radius: 5px;
    padding: 10px;
}

/* PARA QUE EL ENLACE DE VOLVER ESTÉ EN LA ESQUINA IZQUIERDA */

/* Estilos específicos para la página de recuperación de contraseña */
.password-recovery .btn-primary {
    width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
    margin-top: 20px; /* Añade un margen superior para separar el botón del campo de entrada */
}
.nav.flex-column {
    background-color: #9493938e; /* gris claro  para el menu navegable de modificar perfil*/ 
    padding: 15px;
    border-radius: 10px;
}






